body {
    margin: 0;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}
 
.header {
    padding: 92px 50px;   
}

.cover {
    padding: 0 0 180px;
}

.lots {
    padding: 0 50px 180px;
}

.about {
    padding: 0 50px 180px;
}

.header_links-list {
    display: inline;
}

.header__links-list-item {
    list-style: circle;
}